html {
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}

body {
    background-image: url(fond.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* HEADER  */
header{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.644));
    border-radius: 0 2rem 2rem 0;
}

.logo {
    height: 5rem;
    width: auto;
    margin: 0.8rem 0 0.8rem 2rem;
}

header a {
    padding: 0 2rem 0 2rem;
    margin: 1rem;
    font-size: 1.6rem;
    color: rgb(238, 238, 238);
    text-decoration: none;
    border-radius: 1rem;
}

header a:hover {
    border: 1px solid rgb(255, 255, 255, 0.150);
    background-color: rgba(165, 47, 67, 0.447);
    text-shadow: 5px 4px 10px rgba(0, 0, 0);
    transition: 0.5s;
    text-transform: capitalize;
}

.menu {
    width: 50%;
}


/* CONTAINER  */
h1 {
    font-size: 6rem;
    letter-spacing: 0.3rem;
    color: rgb(253, 103, 148);
    text-shadow: 2px 5px 10px rgba(12, 12, 12, 0.816);
    margin: 0;
    transform: rotate(-3deg);
}

.container {
    padding: 1rem 2rem 2rem 2rem;
}

.acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.644));
    border-radius: 2rem 0 0 2rem;
    height: 85vh;
}

.imgCentre {
    margin: 0;
    height: 13rem;
    width: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 20px white;
    background-color: rgba(255, 255, 255, 0.774);
    opacity: 0.9;
    animation: dogface-animation 0.4s ease-in-out;    
}

button {
    margin: 1rem;
    padding: 0.5rem;
    width: fit-content;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: 1px solid rgba(245, 245, 245, 0.21);
    border-radius: 2rem;
    color: rgb(212, 212, 212);
    background-color: rgb(21, 130, 255, 0.5);
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.574);
}

button:hover {    
    color: white;    
    transform: scale(1.0.5);
    background-color: rgb(21, 130, 255);
    box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.156);
    box-shadow:  2px 1px 18px rgba(226, 226, 226, 0.956);
    transform: scale(1.02);
}

button:active {
    transform: scale(0.99);
    box-shadow: 1px 1px 5px rgba(226, 226, 226, 0.956);
}


/* LITTLE 'imgCentre' ANIMATION  */

@keyframes dogface-animation {   

    0% {opacity: 0;
        
    }
    50% {opacity: 005;
        transform: rotate(-360deg);
    }
    100% {opacity: 1;
        transform: rotate(-360deg);
    }
}


/* RAPID - MEDIA QUERY  */

@media screen and (max-width: 940px) {
    a {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 4rem;
    }
    .imgCentre {
        height: 10rem;
    }
    button {
        font-size: 1.5rem;
    }
    .menu {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {     
    .logo {
        height: 3rem;
    }  
    h1 {
        font-size: 2rem;
    }
    .imgCentre {
        height: 8rem;
    }
    button {
        font-size: 1rem;
    }    
}